/* #beatseqlist {
  border: 1px solid white;
  background: darkgrey;
} */

#beatSeqCol {
  /* border: 1px solid rgb(241, 238, 27); */
  /* background: darkgoldenrod; */
  height: 100%;
}

#beatSeqList-overflow {
  height: 93%;
  overflow-y: scroll;
  /* background-color: violet; */
  padding: 5px;
}

/* #beatseqonecard {
  border: 1px solid green;
} */

/* #onecardcard {
  border: 1px solid maroon;
} */

#welcome-name {
  color: darkorange;
}

/* #onecard-cont {
  background-color: yellowgreen;
} */

.demoGif {
  background-image: url("./img/beatSeq.gif");
  background-position: center;
  background-repeat: no-repeat;
  width: 800px;
  height: 400px;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  /* margin-bottom: 10%; */
  /* background-color: rgb(214, 206, 212); */
  /* background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  */ 
}

.infoHelper {
  background-image: url("./img/infoHelper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* background */
  /* size: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  max-width: 800px;
  /*height: 800px;
  max-height: 800px; */
}

/* .infoHelper Button {
  size: small;
} */

.infoButtons {
  width: auto;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .infoButtons Button {
  size: small;
} */

.homeText {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 95%;
  font-family: 'Righteous';
}

.homeText p {
  margin: 0;
}

#home-onlyText{
margin-bottom: 20px;
}

.pageTitle {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  width: 100%;
}

.pageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2015/11/07/11/56/sound-1031657_960_720.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;
  overflow: auto;
  /* width: auto; */
  background-repeat: no-repeat;
  /* height: 100vh */
}

#overall-app-cont {
  /* background-color: lightgoldenrodyellow; */
  height: 100vh;
}

#beatSeqCol-cont {
  /* border: 3px solid red; */
  border-radius: 5px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}

#drumMachine-cont {
  /* border: 3px solid white; */
  height: 100%;
}

#beatseq-col-machine-cont {
  /* background-color: turquoise; */
  padding: 5px;
  height: 90%;
}

#beatseqpage-cont {
  height: 93%;
  /* background-color: yellow; */
}

/* #navbar-left{
  background-color: seagreen;
} */

#navbar-nameAndAccount{
border: 1px solid red
}

/* #navbar-account{
  background-color: sandybrown;
} */
